{% load static %}
<!DOCTYPE html>
<!--=== Coding by CodingLab | www.codinglabweb.com === -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!----======== CSS ======== -->
    <link rel="stylesheet" href="{% static 'css/style1.css' %}">
     
    <!----===== Iconscout CSS ===== -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEX/ndIuP+UXiKGJBrUuLZ4poFAz5YbZWIbYb" crossorigin="anonymous">


    <title>Admin Dashboard</title> 
</head>
<body>
    <nav>
        <div class="logo-name">
            <div class="logo-image">
                <img src="{% static 'images/logo.jpg' %}" alt="">
            </div>

            <span class="logo_name">Logoipsum</span>
        </div>

        <div class="menu-items">
            <ul class="nav-links">
                <li><a href="{% url 'author' %}">
                    <i class="uil uil-user"></i>
                    <span class="link-name">Author</span>
                </a></li>
                <li><a href="{% url 'books' %}">
                    <i class="uil uil-book"></i>
                    <span class="link-name">Books</span>
                </a></li>
                <li><a href="{% url 'user_logout' %}">
                    <i class="uil uil-signout"></i>
                    <span class="link-name">Logout</span>
                </a></li>
            </ul>
        </div>
    </nav>

    <section class="dashboard">
        <div class="top">
            <i class="uil uil-bars sidebar-toggle"></i>
            <img src="{% static 'images/profile' %}" alt="" >
        </div>

        <div class="dash-content">
            <div class="overview">


                <div class="boxes">
                    <div class="box box1">
                        <i class="uil uil-user"></i>
                        <span class="text">TOTAL AUTHORS</span>
                        <span class="number">{{total_authors}}</span>
                    </div>
                    <div class="box box2">
                        <i class="uil uil-book"></i>
                        <span class="text">TOTAL BOOKS</span>
                        <span class="number">{{total_books}}</span>
                    </div>
                </div>
            </div>
            {% block content %}
    
            {% endblock %}

        </div>
    </section>

    <script src="script.js"></script>
</body>
</html>