{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <title>Login</title>
</head>
<body>
    <section class="login">
		<div class="login_box">
			<div class="right">
			</div>
            <div class="left">
				<div class="contact">
					
					<form method="post" action="{% url 'login' %}">
                        {% csrf_token %}
						<h3>SIGN IN</h3>
                        <input type="text" name="username" placeholder="USERNAME" required>
                        <input type="password" name="password" placeholder="PASSWORD" required>
						<button type="submit" class="submit">Login</button>
					</form>
				</div>
			</div>
		</div>
	</section>
</body>
</body>
</html>